.footer {
  display: flex;
  justify-content: center;
}
.footer__copyright {
  font-family: "Inter-Regular";
  font-size: 14px;
  margin: 7px 0 24px 0;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    margin: 7px 0 24px 0;
  }
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    margin: 7px 0 24px 0;
  }
}
