.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  margin: 128px 50px 0 50px;
}
.photo-grid__item {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 64px 24px 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 38px 16px 0 16px;
  }
}
