.places {
  margin: 92px 145px 0 145px;
}
.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 40px;
  margin-bottom: 80px;
}
.place__title {
  max-width: 80%;
  font-family: "Inter-Black";
  font-size: 72px;
  margin: 0;
}
.place__image {
  max-width: 460px;
  max-height: 460px;
  margin: 48px 0 48px 0;
  box-shadow: 8px 10px 12px rgba(0, 0, 0, 0.5);
  transition: filter 0.2s ease;
}
.place__image:hover {
  filter: brightness(0.75);
}
.place__button {
  background-image: linear-gradient(to right, #0278fe, #003a7b);
  color: #fff;
  padding: 13px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
  transition: background-image 0.2s ease;
}
.place__button:hover {
  background-image: linear-gradient(to right, #0457b6, #002650);
}
.place__paragraph {
  margin: 0;
  font-family: "Inter-Regular";
  font-size: 18px;
  line-height: 1.63;
}
.place__right-side .place__paragraph {
  margin-bottom: 25px;
}
.place__website {
  margin: 85px 0 48px 0;
}
.place__url-heading {
  color: #aaaaaa;
  margin: 0;
  font-family: "Inter-Regular";
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
}
.place__artist {
  margin: 0;
  font-family: "Inter-Regular";
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 88px 24px 0 24px;
  }
  .place {
    gap: 28px;
    margin-bottom: 72px;
  }
  .place__title {
    font-size: 42px;
  }
  .place__image {
    max-width: 340px;
    max-height: 340px;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}
@media screen and (max-width: 544px) {
  .places {
    margin: 62px 0 0 0;
  }
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 40px;
    margin-bottom: 65px;
  }
  .place__title {
    font-size: 42px;
    text-align: center;
  }
  .place__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-width: 0;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.5);
  }
  .place__paragraph {
    margin: 0 16px;
  }
  .place__url-heading {
    margin: 0 16px;
  }
  .place__artist {
    margin: 0 16px;
  }
  .place__button {
    max-width: 100%;
  }
}
