.places {
  margin: 92px 145px 0 145px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 88px 24px 0 24px;
  }
}
@media screen and (max-width: 544px) {
  .places {
    margin: 62px 0 0 0;
  }
}
